* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: url('Background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#executando {
    display: none;
}

.welcome {
    color: white;
    background-image: url('bingo.avif');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: rgba(0, 0, 0, 0.7);
    height: 40vh;
    padding: 40px;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#start, #reset, .insert-button:hover {

    transition-duration: 0.4s;
    background: rgba(7, 7, 7, 0.05);
    border: 2px solid red;
    color: red;
    font-size: 16px;
    border-radius: 8px;
    width: 100px;
    padding: 8px;
}

#start:hover, #reset:hover, .insert-button {
    background-color: red;
    color: white;
}

span{
  font-family: "Roboto", sans-serif;
    font-size: 54px;
}

.geral {
    font-family: "Cookie", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 95vh;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 62px;
}

h3 {
    display: none;
    padding: 20px;

}

header {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header img {
    height: 50px;
}



.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

}

.current-value {
    font-size: 250px;
    margin: 20px;
    padding: 50px;
    background-color: red;
    color: white;
    border-radius: 20px;
    text-align: center;
   /*  width: 500px;
    height: 450px; */

}

.value-input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    width: 150px;
    border: none;
    border-radius: 8px;
}

.insert-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;

}

.secondary-list {
    font-size: 50px;
    max-width: 80vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
    justify-content: space-around;
}

.numero {
   /*  width: 150px;
    height: 100px; */
    padding: 20px;
    margin: 10px;
    background-color: rgb(242, 184, 184);
    border-radius: 20px;
}

#container {
    background: rgba(252, 250, 250, 0.9);
    display: none;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;

}

.ultimos {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
